---
- name: Generate YAML Configuration for Return Material Authorization(RMA)
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Generate YAML Configuration for Return Material Authorization(RMA)
      cisco.dnac.brownfield_rma_playbook_generator:
        dnac_host: "{{ dnac_host }}"
        dnac_username: "{{ dnac_username }}"
        dnac_password: "{{ dnac_password }}"
        dnac_verify: "{{ dnac_verify }}"
        dnac_port: "{{ dnac_port }}"
        dnac_version: "{{ dnac_version }}"
        dnac_debug: "{{ dnac_debug }}"
        dnac_log: true
        dnac_log_level: DEBUG
        dnac_api_task_timeout: 1000
        dnac_task_poll_interval: 1
        state: gathered
        config:
          - file_path: "/Users/priyadharshini/Downloads/rma_info"
            component_specific_filters:
              components_list: ["device_replacement_workflows"]
              device_replacement_workflows:
                - replacement_device_serial_number: "9TRQFABSFR2"
                - replacement_status: "REPLACED"
