---
# Playbook to generate YAML configurations for Assurance Device Health Score Settings

- name: Brownfield Assurance Device Health Score Settings Playbook Generator Examples
  hosts: localhost
  vars_files:
    - "credentials.yml"
  connection: local
  gather_facts: false
  tasks:
    - name: Generate all device health score settings configurations
      cisco.dnac.brownfield_assurance_device_health_score_settings_playbook_generator:
        dnac_host: "{{ dnac_host }}"
        dnac_username: "{{ dnac_username }}"
        dnac_password: "{{ dnac_password }}"
        dnac_verify: "{{ dnac_verify }}"
        dnac_port: "{{ dnac_port }}"
        dnac_version: "{{ dnac_version }}"
        dnac_debug: "{{ dnac_debug }}"
        dnac_log: true
        dnac_log_level: DEBUG
        dnac_api_task_timeout: 1000
        dnac_task_poll_interval: 1
        state: gathered
        config:
          - component_specific_filters:
              components_list: ["device_health_score_settings"]
              device_health_score_settings:
                device_families: ["WIRELESS_CLIENT", "WIRED_CLIENT"]
